<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="Your_WebApp_ID" version="2.5">
	<display-name>Buddy recommender application</display-name>

	<servlet>
		<servlet-name>recommender</servlet-name>
		<servlet-class>com.recommender.frontend.RecommenderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recommender</servlet-name>
		<url-pattern>/recommender.do</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.recommender.frontend.RecommenderContextListener</listener-class>
	</listener>
</web-app>
